<div class="fixed top-0 right-0 z-50 w-full md:w-1/2 flex flex-col">
    <div class="min-h-screen text-black bg-white dark:text-white dark:bg-gray-800 shadow-lg">
        <div class="m-4 mb-4">
            <div class="flex">
                <div class="overlay-close bg-gray-900 dark:bg-gray-100" (click)="onClose()">
                    <svg-icon [src]="svgs.x"
                        [svgClass]="'h-4 w-4 fill-white dark:fill-black stroke-white dark:stroke-black'"></svg-icon>
                </div>
            </div>
            <!-- Title -->
            <div class="flex">
                <div class="text-xl font-bold text-black dark:text-white">{{ (constant.editDepartmentIndex
                    ? 'TITLE.EDIT_DEPARTMENT' : 'TITLE.ADD_DEPARTMENT') |
                    translate }}
                </div>
                <div class="ml-auto" *ngIf="constant.editDepartmentIndex">
                    <svg-icon [src]="svgs.delete" (click)="onDelete()" [svgClass]="'h-6 w-6'"></svg-icon>
                </div>
            </div>
        </div>

        <!-- Add department form -->
        <form [formGroup]="constant.addDepartmentForm" (ngSubmit)="onSubmit(constant.addDepartmentForm.value)"
            class="text-black dark:text-white m-6 lg:m-10">

            <!-- Name -->
            <div class="mt-6">
                <label class="block text-sm">
                    <span *ngIf="_addDepartment['name'].hasValidator(constant.validators.required)"
                        class="text-red-500">&nbsp;*</span>
                    {{ 'LABEL.NAME' | translate }}
                </label>
                <!-- Input field custom component for icon and box styleing -->
                <app-input-field [icon]="svgs.type" [class]="'bg-gray-200 dark:text-black'"
                    [error]="_addDepartment['name'].invalid && (isFormSubmitted)">
                    <input class="ml-auto focus:outline-none w-full bg-gray-200" formControlName="name"
                        placeholder="{{ 'PLACE_HOLDER.NAME' | translate }}" type="text" />
                </app-input-field>
                <!-- Validation Message -->
                <ng-container *ngFor="let validation of validationMessages.name">
                    <div class="text-red-500 text-xs italic mt-1"
                        *ngIf="_addDepartment['name'].errors?.[validation.type] && (isFormSubmitted)">
                        {{ 'LABEL.NAME' | translate }} {{ validation.message | translate }}
                    </div>
                </ng-container>
            </div>

            <!-- Description -->
            <div class="mt-6">
                <label class="block text-sm">
                    <span *ngIf="_addDepartment['description'].hasValidator(constant.validators.required)"
                        class="text-red-500">&nbsp;*</span>
                    {{ 'LABEL.DESCRIPTION' | translate }}
                </label>
                <!-- Input field custom component for icon and box styleing -->
                <app-input-field [icon]="svgs.description" [class]="'bg-gray-200 dark:text-black'"
                    [error]="_addDepartment['description'].invalid && (isFormSubmitted)">
                    <input class="ml-auto focus:outline-none w-full bg-gray-200" formControlName="description"
                        placeholder="{{ 'PLACE_HOLDER.DESCRIPTION' | translate }}" type="text" />
                </app-input-field>
                <!-- Validation Message -->
                <ng-container *ngFor="let validation of validationMessages.description">
                    <div class="text-red-500 text-xs italic mt-1"
                        *ngIf="_addDepartment['description'].errors?.[validation.type] && (isFormSubmitted)">
                        {{ 'LABEL.DESCRIPTION' | translate }} {{ validation.message | translate }}
                    </div>
                </ng-container>
            </div>

            <!-- Add/Edit Button -->
            <div class="text-center mt-10">
                <app-button [name]="constant.editDepartmentIndex ? 'BUTTON.EDIT' : 'BUTTON.ADD'" text="3/4">
                </app-button>
            </div>
        </form>
    </div>
</div>