<div class="relative block mt-1">
    <span class="absolute inset-y-0 left-0 flex items-center pl-3">
        <svg-icon [src]="icon"
        [svgClass]="'w-5 h-5 fill-gray-400 dark:fill-black stroke-gray-500 dark:stroke-black'"></svg-icon>
    </span>
    <div class="w-full flex rounded-lg py-2 pl-10 pr-4 border border-slate-300" [class]="class">
        <ng-content></ng-content>
        <div *ngIf="error" class="ml-auto pl-1 text-red-500"><img class="w-5 h-5" [src]="svgs.error" alt="error"></div>
    </div>
</div>