<button [disabled]="isDisabled" [class]="getStyles()"
    class="inline-block text-center px-4 py-2.5 bg-gray-600 text-white dark:bg-gray-50 dark:text-black font-medium text-sm leading-tight uppercase rounded-sm shadow-md hover:bg-gray-500 dark:hover:bg-gray-200 hover:shadow-lg focus:bg-gray-700 dark:focus:bg-gray-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-800 dark:active:bg-gray-200 active:shadow-lg transition duration-150 ease-in-out disabled:bg-gray-400 dark:disabled:bg-gray-300"
    [type]="type">
    <ng-content></ng-content>
    {{ name | translate }}
</button>