//Dropdown transition show open and close
.dropDownBlock {
  transition: all 0.5s ease;
  display: block;
  opacity: 0;
  visibility: hidden;
  &.block {
    opacity: 1;
    visibility: visible;
  }
}

//Show blukbar bottom to top with transition
.showBulkbar {
  transition: 0.5s;
  transform: translateY(0);
  opacity: 1;
}

//Hide blukbar top to bottom with transition
.hideBulkbar {
  transition: 0.5s;
  transform: translateY(100%);
  opacity: 0;
}
