.dropDownBlock {
  transition: all 0.5s ease;
  display: block;
  opacity: 0;
  visibility: hidden;
  &.block {
    opacity: 1;
    visibility: visible;
  }
}

.showBulkbar {
  transition: 0.5s;
  transform: translateY(0);
  opacity: 1;
}

.hideBulkbar {
  transition: 0.5s;
  transform: translateY(100%);
  opacity: 0;
}
