<router-outlet></router-outlet>
<ngx-spinner bdColor="rgba(252,250,250,0.8)"  size="default" color="rgba(58,65,65,0.96)" type="timer">
    <p style="font-size: 20px; color: #3a4141">Loading...</p>
</ngx-spinner>

<!-- <div class="mt-96">
    <app-menu [menuItems]="menuItems" (onItemClick)="onItemClick($event)"></app-menu>
    <app-filter [isSearch]="isSearch" [filterAttributes]="filterAttributes" (filtredAttributes)="filtredAttributes($event)"></app-filter>
    <app-filter2 [isSearch]="isSearch" [filterAttributes]="filterAttributes" (filtredAttributes)="filtredAttributes($event)"></app-filter2>
</div> -->