<!-- Logo -->
<div class="flex justify-center">
    <img class="w-20 h-20 icon-img" [src]="svgs.loginPageLogo" alt="logo">
</div>

<!-- Title -->
<h1 class="mb-4 text-2xl font-bold text-center text-black dark:text-white">
    {{ 'TITLE.SIGN_IN_TITLE' | translate }}
</h1>

<!-- Sign In form -->
<form [formGroup]="constant.signinForm" class="text-black dark:text-white"
    (ngSubmit)="onSubmit(constant.signinForm.value)">

    <!-- Email -->
    <div>
        <label class="block text-sm">
            <span *ngIf="_signinForm['employeeNo'].hasValidator(constant.validators.required)"
                class="text-red-500">&nbsp;*</span>
            {{ 'LABEL.EMPLOYEE_NO' | translate }}
        </label>
        <!-- Input field custom component for icon and box styleing -->
        <app-input-field [icon]="svgs.email" [class]="'bg-white dark:text-black'"
            [error]="_signinForm['employeeNo'].invalid && (isFormSubmitted)">
            <input class="ml-auto focus:outline-none w-full bg-white" formControlName="employeeNo"
                placeholder="{{ 'PLACE_HOLDER.EMPLOYEE_NO' | translate }}" type="text" />
        </app-input-field>
        <!-- Validation Message -->
        <ng-container *ngFor="let validation of validationMessages.employeeNo">
            <div class="text-red-500 text-xs italic mt-1"
                *ngIf="_signinForm['employeeNo'].errors?.[validation.type] && (isFormSubmitted)">
                {{ 'LABEL.EMPLOYEE_NO' | translate }} {{ validation.message | translate }}
            </div>
        </ng-container>
    </div>
    <!-- Password -->
    <div class="mt-4">
        <div>
            <label class="block text-sm">
                <span *ngIf="_signinForm['password'].hasValidator(constant.validators.required)"
                    class="text-red-500">&nbsp;*</span>
                {{ 'LABEL.PASSWORD' | translate }}
            </label>
            <!-- Input field custom component for icon and box styleing -->
            <app-input-field [icon]="svgs.password" [class]="'bg-white dark:text-black'"
                [error]="_signinForm['password'].invalid && (isFormSubmitted)">
                <input class="ml-auto focus:outline-none w-full bg-white" formControlName="password"
                    placeholder="{{ 'PLACE_HOLDER.PASSWORD' | translate }}" type="password" />
            </app-input-field>
            <!-- Validation Message -->

            <ng-container *ngFor="let validation of validationMessages.password">
                <div class="text-red-500 text-xs italic mt-1"
                    *ngIf="_signinForm['password'].errors?.[validation.type] && (isFormSubmitted)">
                    {{ 'LABEL.PASSWORD' | translate }} {{ validation.message | translate }}
                </div>
            </ng-container>
        </div>
    </div>

    <!-- Forgot Password Link -->
    <p class="mt-4 text-end">
        <a class="text-sm text-black dark:text-white underline" [routerLink]="routeConstant.forgotPassword">
            {{ 'TITLE.FORGOT_PASSWORD_TITLE' | translate }}
        </a>
    </p>

    <!-- SignIn Button -->
    <div class="text-center mt-6">
        <app-button [type]="'submit'" [name]="'BUTTON.SIGN_IN'" text="3/4"></app-button>
    </div>
</form>