<div class="flex justify-center">
    <img class="w-20 h-20 icon-img" [src]="'assets/svg/login-page-logo.svg'" alt="logo">
</div>
<h1 class="mb-4 text-2xl font-bold text-center text-black dark:text-white">
    {{ 'TITLE.SIGN_IN_TITLE' | translate }}
</h1>
<form [formGroup]="constant.signinForm" class="text-black dark:text-white">
    <div>
        <label class="block text-sm">
            <span *ngIf="_signinForm['email'].hasValidator(constant.validators.required)" class="text-red-500">&nbsp;*</span>
            {{ 'LABEL.EMAIL' | translate }}
        </label>
        <app-input-field [icon]="'assets/svg/email.svg'" [error]="_signinForm['email'].invalid && (_signinForm['email'].dirty || _signinForm['email'].touched)">
            <input class="ml-auto focus:outline-none w-full" formControlName="email" placeholder="{{ 'PLACE_HOLDER.EMAIL' | translate }}" type="text" />
        </app-input-field>
        <ng-container *ngFor="let validation of validationMessages.email">
            <div class="text-red-500 text-xs italic mt-1"
                *ngIf="_signinForm['email'].errors?.[validation.type] && (_signinForm['email'].dirty || _signinForm['email'].touched)">
                {{ 'LABEL.EMAIL' | translate }} {{ validation.message | translate }}
            </div>
        </ng-container>
    </div>
    <div class="mt-4">
        <div>
            <label class="block text-sm">
                <span *ngIf="_signinForm['password'].hasValidator(constant.validators.required)" class="text-red-500">&nbsp;*</span>
                {{ 'LABEL.PASSWORD' | translate }}
            </label>
            <app-input-field [icon]="'assets/svg/password.svg'" [error]="_signinForm['password'].invalid && (_signinForm['password'].dirty || _signinForm['password'].touched)">
                <input class="ml-auto focus:outline-none w-full" formControlName="password" placeholder="{{ 'PLACE_HOLDER.PASSWORD' | translate }}" type="password" />
            </app-input-field>
            <ng-container *ngFor="let validation of validationMessages.password">
                <div class="text-red-500 text-xs italic mt-1"
                    *ngIf="_signinForm['password'].errors?.[validation.type] && (_signinForm['password'].dirty || _signinForm['password'].touched)">
                    {{ 'LABEL.PASSWORD' | translate }} {{ validation.message | translate }}
                </div>
            </ng-container>
        </div>
    </div>
    <p class="mt-4">
        <a class="text-sm text-black dark:text-white underline " href="">
            {{ 'LINK.FORGOT_PASSWORD' | translate }}
        </a>
    </p>

    <div class="text-center mt-6">
        <app-button (click)="onSubmit()" [isDisabled]="constant.signinForm.invalid" [name]="'BUTTON.SIGN_IN'" text="3/4"></app-button>
    </div>
</form>