<!-- <div [ngClass]="apiCallService.isOpenSidebar ? 'show' : 'hide'"
    class="mt-14 md:mt-0 fixed flex flex-col top-0 right-0 text-black bg-white dark:text-white dark:bg-gray-800 shadow-lg h-full w-48 md:w-64 rightSideBar">
    <p>add-employee works!</p>

    <button class="mt-16" (click)="onClose()">close</button>
</div> -->
<div
    class="fixed top-0 right-0 z-50 flex flex-col">
    <div class="min-h-screen text-black bg-white dark:text-white dark:bg-gray-800 shadow-lg">
        <p>add-employee works!</p>

    <button class="mt-16" (click)="onClose()">close</button>
    </div>
</div>