<div class="bg-gray-100">
    <!-- Full screen auth layout -->
    <div class="grid grid-cols-1 lg:grid-cols-2">
        <!-- Left side image on big size screen -->
        <div class="bg-white min-h-screen hidden p-5 lg:flex items-center justify-center">
            <img [src]="svgs.authLayoutImage" alt="img" />
        </div>
        <!-- Right side pages layout in big size screen and full screen layout on mobile and tablet -->
        <div class="flex min-h-screen dark:bg-black items-center justify-center">
            <div class="w-3/4">
                <!-- Here shown sign-in or forgot-password page based on route -->
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>