<div class="md:flex items-center bg-gray-100">
    <div>
        <div class="md:flex md:flex-row">
            <div class="bg-white min-h-screen p-6 sm:p-12 xl:p-20 hidden md:flex text-center w-full md:w-1/2">
                <img class="w-full h-full" [src]="'assets/svg/undraw_login_re_4vu2.svg'" alt="img" />
            </div>
            <div class="flex dark:bg-black items-center justify-center p-6 sm:p-12 xl:p-20 md:w-1/2">
                <div class="w-2/3">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>