<!-- Logo -->
<div class="flex justify-center">
    <img class="w-20 h-20 icon-img" [src]="svgs.forgotPassword" alt="logo">
</div>

<!-- Title -->
<h1 class="mb-4 text-2xl font-bold text-center text-black dark:text-white">
    {{ 'TITLE.FORGOT_PASSWORD_TITLE' | translate }}
</h1>

<!-- Forgot Password Form -->
<form [formGroup]="constant.forgotPasswordForm" class="text-black dark:text-white" (ngSubmit)="onSubmit()">

    <!-- Message -->
    <p class="mt-6 text-xs text-black dark:text-white">
        {{ 'MESSAGE.FORGOT_PASSWORD_1' | translate }}
    </p>
    <p class="mt-4 text-xs text-black dark:text-white">
        {{ 'MESSAGE.FORGOT_PASSWORD_2' | translate }}
    </p>

    <!-- Email -->
    <div class="mt-8">
        <label class="block text-sm">
            <span *ngIf="_forgotPasswordForm['email'].hasValidator(constant.validators.required)"
                class="text-red-500">&nbsp;*</span>
            {{ 'LABEL.EMAIL' | translate }}
        </label>
        <!-- Input field custom component for icon and box styleing -->
        <app-input-field [icon]="svgs.email" [class]="'bg-white dark:text-black'"
            [error]="_forgotPasswordForm['email'].invalid && (isFormSubmitted)">
            <input class="ml-auto focus:outline-none rounded-md w-full bg-white" formControlName="email"
                placeholder="{{ 'PLACE_HOLDER.EMAIL' | translate }}" type="text" name="email" />
        </app-input-field>
        <!-- Validation Message -->
        <ng-container *ngFor="let validation of validationMessages.email">
            <div class="text-red-500 text-xs italic mt-1"
                *ngIf="_forgotPasswordForm['email'].errors?.[validation.type] && (isFormSubmitted)">
                {{ 'LABEL.EMAIL' | translate }} {{ validation.message | translate }}
            </div>
        </ng-container>
    </div>
    <!-- Terms and Conditions -->
    <!-- <div class="mt-4">
        Input Checkbox
        <label class="flex text-sm">
            <input formControlName="tnc" name="tnc" type="checkbox" class="accent-gray-600 dark:accent-gray-100 mr-2">
            {{ 'MESSAGE.TNC_ACCEPT' | translate }} <span>{{ 'LABEL.TNC' | translate }}</span>
        </label>
        Validation Message
        <ng-container *ngFor="let validation of validationMessages.tnc">
            <div class="text-red-500 text-xs italic mt-1"
                *ngIf="_forgotPasswordForm['tnc'].errors?.[validation.type] && (_forgotPasswordForm['tnc'].dirty || _forgotPasswordForm['tnc'].touched)">
                {{ 'LABEL.TNC' | translate }} {{ validation.message | translate }}
            </div>
        </ng-container>
    </div> -->

    <!-- Submit Button -->
    <div class="text-center mt-6">
        <app-button [type]="'submit'" [name]="'BUTTON.SUBMIT'" text="3/4"></app-button>
    </div>
</form>
<div routerLink="../" class="text-center my-4">
    <span
        class="text-sm cursor-pointer  text-gray-700 dark:text-gray-200 hover:text-gray-900 dark:hover:text-gray-100">{{
        'TITLE.BACK_LOGIN' | translate }}</span>
</div>