<div class="flex justify-center">
    <img class="w-20 h-20 icon-img" [src]="'assets/svg/forgot-password.svg'" alt="logo">
</div>
<h1 class="mb-4 text-2xl font-bold text-center text-black dark:text-white">
    {{ 'TITLE.FORGOT_PASSWORD_TITLE' | translate }}
</h1>
<form [formGroup]="constant.forgotPasswordForm" class="text-black dark:text-white">
    <p class="mt-6 text-xs text-black dark:text-white">
        {{ 'MESSAGE.FORGOT_PASSWORD_1' | translate }}
    </p>
    <p class="mt-4 text-xs text-black dark:text-white">
        {{ 'MESSAGE.FORGOT_PASSWORD_2' | translate }}
    </p>
    <div class="mt-8">
        <label class="block text-sm">
            <span *ngIf="_forgotPasswordForm['email'].hasValidator(constant.validators.required)"
                class="text-red-500">&nbsp;*</span>
            {{ 'LABEL.EMAIL' | translate }}
        </label>
        <app-input-field [icon]="'assets/svg/email.svg'"
            [error]="_forgotPasswordForm['email'].invalid && (_forgotPasswordForm['email'].dirty || _forgotPasswordForm['email'].touched)">
            <input class="ml-auto focus:outline-none w-full" formControlName="email"
                placeholder="{{ 'PLACE_HOLDER.EMAIL' | translate }}" type="text" />
        </app-input-field>
        <ng-container *ngFor="let validation of validationMessages.email">
            <div class="text-red-500 text-xs italic mt-1"
                *ngIf="_forgotPasswordForm['email'].errors?.[validation.type] && (_forgotPasswordForm['email'].dirty || _forgotPasswordForm['email'].touched)">
                {{ 'LABEL.EMAIL' | translate }} {{ validation.message | translate }}
            </div>
        </ng-container>
    </div>
    <div class="mt-4">
        <label class="flex text-sm">
            <input formControlName="tnc" type="checkbox" class="accent-gray-600 dark:accent-gray-100 mr-2">
            {{ 'MESSAGE.TNC_ACCEPT' | translate }} <span>{{ 'LABEL.TNC' | translate }} {{_forgotPasswordForm['tnc'].invalid }}</span>
        </label>
        <ng-container *ngFor="let validation of validationMessages.tnc">
            <div class="text-red-500 text-xs italic mt-1" *ngIf="!_forgotPasswordForm['tnc'].value">
                {{ 'LABEL.TNC' | translate }} {{ validation.message | translate }} 
            </div>
        </ng-container>
    </div>

    <div class="text-center mt-6">
        <app-button (click)="onSubmit()" [isDisabled]="constant.forgotPasswordForm.invalid" [name]="'BUTTON.SUBMIT'"
            text="3/4"></app-button>
    </div>
</form>