<div class="w-full sm:w-6/12 md:w-4/12 px-4">
    <div class="relative inline-flex align-middle w-full">
        <button
            class="text-white font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150 bg-slate-700 active:bg-slate-800"
            type="button" (click)="toggleDropdown($event)" #btnDropdownRef>
            <span>{{ 'BUTTON.MENU' | translate }}</span>
        </button>
    </div>
</div>
<div #popoverDropdownRef [ngClass]="dropdownPopoverShow ? 'block' : 'hidden'"
    class="dropDownBlock text-sm border-b border-gray-100 border bg-white absolute min-w-48 z-20 rounded-lg shadow-xl">
    <div *ngFor="let item of menuItems; let i = index" (click)="onClick(item, i)"
        class="block items-center relative cursor-pointer text-black hover:bg-slate-100 py-2 px-3">
        <div class="flex items-center">
            <span *ngIf="item?.isIcon" class="inline-flex justify-center items-center w-6 h-6">
                <img [src]="item?.icon || 'assets/svg/info.svg'" [alt]="item?.name">
            </span>
            <span class="px-2">{{ item?.name || '-'}}</span>
        </div>
    </div>
</div>