/* You can add global styles to this file, and also import other style files */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "~ngx-toastr/toastr";
@import "~ngx-spinner/animations/timer.css";

.dark {
  //svg icon color white when dark theme
  .icon-img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
      brightness(102%) contrast(102%);
  }

  //Table pagination color changed
  .ngx-pagination {
    a {
      color: white;
    }
    a:hover {
      background-color: #374151;
    }
    .disabled {
      color: #6b7280;
    }
    .current {
      background-color: white !important;
      color: black;
    }
  }
}

//Pagination on current page changed color
.ngx-pagination {
  .current {
    background-color: #4b5563 !important;
  }
}

//Toaster color and images
.toast-container {
  .ngx-toastr {
    box-shadow: none;
  }

  .custom-toastr-success-class {
    margin-left: 50px;
    background-color: #d6f5e8;
    color: black;
    background-image: url("assets/svg/check-circle.svg");
    width: 425px !important;
    box-sizing: content-box !important;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .custom-toastr-error-class {
    background-color: #fcdee4;
    color: black;
    background-image: url("assets/svg/x-circle-color.svg");
    width: 425px !important;
    box-sizing: content-box !important;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .custom-toastr-info-class {
    background-color: #d8eefe;
    color: black;
    background-image: url("assets/svg/info-color.svg");
    width: 425px !important;
    box-sizing: content-box !important;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .custom-toastr-warning-class {
    background-color: #ffe7d6;
    color: black;
    background-image: url("assets/svg/alert-triangle-color.svg");
    width: 425px !important;
    box-sizing: content-box !important;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .toast-close-button {
    color: black;
    font-size: 28px !important;
    font-weight: normal;
    top: auto;
  }
  .toast-message {
    margin-right: auto;
    margin-left: 10px;
  }
}

//SweetAlert colorof shadow
.swal2-container {
  .swal2-popup {
    .swal2-actions {
      .swal2-confirm {
        color: black !important;
      }
      .swal2-confirm:focus {
        box-shadow: 0 0 5px rgb(255, 255, 255);
        background-color: rgba(184, 186, 189, 0.25) !important;
      }
    }
    .swal2-title {
      font-size: 1.375em !important;
    }
  }
}

//For stop scroll
.noScroll {
  overflow: hidden;
}
