/* You can add global styles to this file, and also import other style files */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "~ngx-toastr/toastr";
@import "~ngx-spinner/animations/timer.css";

:root {
  --color-black: #000;
  --color-white: #fff;
  --white-btn-bg: #f9fafb;
  --white-btn-hover-bg: #e5e7eb;
  --black-btn-bg: #4b5563;
  --black-btn-hover-bg: #6b7280;
  --color-disable: #9ca3af;
}

:root .dark {
  --color-black: #fff;
  --color-white: #000;
  --white-btn-bg: #1f2937;
  --white-btn-hover-bg: #4b5563;
  --black-btn-bg: #f9fafb;
  --black-btn-hover-bg: #e5e7eb;
}

.dark {
  //svg icon color white when dark theme
  .icon-img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
      brightness(102%) contrast(102%);
  }
}

//Table pagination color changed
.ngx-pagination {
  a {
    color: var(--color-black) !important;
  }
  a:hover {
    background-color: var(--white-btn-hover-bg) !important;
  }
  .disabled {
    color: var(--color-disable) !important;
  }
  .current {
    background-color: var(--black-btn-bg) !important;
    color: var(--color-white) !important;
  }
}

//Toaster color and images
.toast-container {
  .ngx-toastr {
    box-shadow: none;
  }

  .custom-toastr-success-class {
    margin-left: 50px;
    background-color: #d6f5e8;
    color: black;
    background-image: url("assets/svg/check-circle.svg");
    width: 425px !important;
    box-sizing: content-box !important;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .custom-toastr-error-class {
    background-color: #fcdee4;
    color: black;
    background-image: url("assets/svg/x-circle-color.svg");
    width: 425px !important;
    box-sizing: content-box !important;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .custom-toastr-info-class {
    background-color: #d8eefe;
    color: black;
    background-image: url("assets/svg/info-color.svg");
    width: 425px !important;
    box-sizing: content-box !important;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .custom-toastr-warning-class {
    background-color: #ffe7d6;
    color: black;
    background-image: url("assets/svg/alert-triangle-color.svg");
    width: 425px !important;
    box-sizing: content-box !important;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .toast-close-button {
    color: black;
    font-size: 28px !important;
    font-weight: normal;
    top: auto;
  }
  .toast-message {
    margin-right: auto;
    margin-left: 10px;
  }
}

//SweetAlert colorof shadow
.swal2-container {
  .swal2-popup {
    .swal2-actions {
      .swal2-confirm {
        color: black !important;
      }
      .swal2-confirm:focus {
        box-shadow: 0 0 5px rgb(255, 255, 255);
        background-color: rgba(184, 186, 189, 0.25) !important;
      }
    }
    .swal2-title {
      font-size: 1.375em !important;
    }
  }
}

//For stop scroll
.noScroll {
  overflow: hidden;
}

//For change color of custom button in add-department component
.button-bottom {
  .bg-gray-600 {
    background-color: var(--white-btn-bg) !important;
    color: var(--color-black) !important;
    box-shadow: none;
  }
  .bg-gray-600:hover {
    box-shadow: none;
    background-color: var(--white-btn-hover-bg) !important;
  }
}

//For change color of custom button in custom table's clear filter
.button-clear-filter {
  .bg-gray-600 {
    background-color: var(--black-btn-bg) !important;
    color: var(--color-white) !important;
    box-shadow: none;
  }
  .bg-gray-600:hover {
    box-shadow: none;
    background-color: var(--black-btn-hover-bg) !important;
  }
}
