// img {
//   filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
//     brightness(102%) contrast(102%);
// }

.left-menu {
  width: 16rem;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) all 0.35s;
  &.inactiveSidebarMenu {
    width: 3.5rem;
  }
}

.dashboard{
  margin-left: 16rem;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) all 0.35s;
  &.inActiveDashboard{
    margin-left: 3.5rem;
  }
}

